@charset "UTF-8";
/*Fontes*/
@font-face {
  font-family: "Titles";
  src: url("../assets/fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: "Paragraphs";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Paragraphs Variable";
  src: url("../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
/* Cores*/
/* Paragrafos e Titulos padrões*/
.titledescription {
  font-family: "Titles";
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.paragraphdescription {
  font-family: "Paragraphs Variable";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 40px;
  letter-spacing: 0.1em;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background: rgba(197, 197, 197, 0.1);
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

/* Menu*/
.container-header {
  background: rgba(28, 21, 85, 0.24);
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  z-index: 9999;
}

.colormenu {
  background: #050575 !important;
  color: #000000 !important;
}

.linklogotipo {
  height: 100%;
  width: 80px;
  margin-left: 5%;
}

.logotipo {
  height: auto;
  width: 100%;
  margin-top: 12%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Paragraphs";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.navbar .iconmenu {
  display: none;
  cursor: pointer;
}
.navbar .arrowmenu {
  content: url(../assets/images/arrowdown.png);
  position: relative;
  left: 10px;
  top: 2px;
  z-index: 9999;
}
.navbar .iconarrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.navbar .menu {
  list-style: none;
  display: flex;
}
.navbar .menu .item {
  position: relative;
  text-align: center;
  width: auto;
  cursor: pointer;
}
.navbar .menu .item a {
  text-decoration: none;
  padding: 15px 20px;
  color: #ffffff;
  width: 100px;
}
.navbar .menu .item a:hover {
  color: #000000;
  font-weight: 800;
  color: #00ccff;
  width: 100%;
}
.navbar .menu .item:hover .submenu > .subitem {
  display: block;
  min-width: 300px;
  text-align: left;
}
.navbar .menu .item .submenu .subitem {
  display: none;
  position: relative;
  padding: 0;
  flex-wrap: wrap;
}
.navbar .menu .item .submenu .subitem a {
  width: 100%;
  padding: 10px 20px;
  display: block;
  background-color: #0059ff;
  position: relative;
}
.navbar .menu .item .submenu .subitem a:hover {
  color: #000000;
  font-weight: 800;
  background-color: #00ccff;
}
.navbar .menu .item:hover > a {
  background: #0059ff;
  color: #000000;
  font-weight: 800;
}
.navbar .submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* FIM MENU*/
.subnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.formsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.searchinput {
  border: none;
  margin-right: 5px;
  height: 100%;
  outline: 0;
  padding-left: 10px;
}

.searchinput::-webkit-input-placeholder {
  color: #000000;
}

.iconsul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SVG Icons*/
.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon:hover {
  fill: #0059ff;
}

.iconsearch,
.iconuser,
.iconshoppingcart {
  width: 28px;
  cursor: pointer;
  margin: 0 2.5px;
  fill: #ffffff;
}

.iconshoppingcart {
  margin-left: 2.5px;
  margin-right: 0;
}

.container-main {
  width: 100%;
}

.banner-slider {
  height: 100vh;
}
.banner-slider .titleswiper {
  font-family: "Titles";
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
.banner-slider .swiper-container {
  height: 100vh;
  width: 100vw;
}
.banner-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-slider .slide-1 {
  background-image: url("../assets/images/slide1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-slider .slide-1 .titleswiper1 {
  color: #ffffff;
  text-shadow: -5px 5px 3px black;
}
.banner-slider .slide-2 {
  background-image: url("../assets/images/slide2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-slider .slide-2 .titleswiper2 {
  color: #ffffff;
  text-shadow: -2px 5px 1px #131416;
}
.banner-slider .slide-3 {
  background-image: url("../assets/images/slide3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-slider .slide-3 .titleswiper3 {
  color: #ffffff;
  text-shadow: -5px 5px 3px black;
}
.banner-slider .swiper-button-next {
  right: 2vw;
}

.section-highlights {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(197, 197, 197, 0.1);
  overflow-x: hidden;
}
.section-highlights .productimages {
  height: 150px;
  width: 150px;
  margin: 20px;
  border-radius: 100px;
}
.section-highlights .imghighlights {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #0059ff;
}
.section-highlights .imghighlights .pista {
  height: 100%;
  width: auto;
}

.store-accommodations {
  background-image: linear-gradient(to bottom, #0059ff 50%, transparent 50%);
  background-repeat: no-repeat;
  height: 200vh;
  width: 100vw;
  display: flex;
  padding: 0 5%;
  background-color: rgba(197, 197, 197, 0.1);
}

.storedescription {
  height: 80vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 20vh;
  flex-grow: 1;
}
.storedescription .textdescription {
  width: 80%;
  padding-bottom: 0px;
  font-weight: 500;
}
.storedescription .arrowdown {
  position: absolute;
  top: 94%;
  height: 90px;
  width: 60px;
}

@media (max-height: 700px) {
  .arrowdown {
    top: 89% !important;
  }
}
.skatestreet {
  height: 100vh;
  width: 30vw;
  position: relative;
  top: 20vh;
  right: 20px;
}
.skatestreet .imgskatestreet {
  width: 100%;
  height: 70vh;
  background-image: url("../assets/images/pistastreet.jpg");
  background-size: auto 100%;
  background-position: center;
}

.textstreet {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2dbdff;
}

.titlestreet {
  padding-bottom: 10px;
}

.paragraphstreet {
  padding: 0 40px;
  line-height: 21px;
  text-align: center;
}

.moredescriptions {
  height: 160vh;
  width: 30vw;
  position: relative;
  top: 10vh;
}

.coffeeshop {
  height: 50vh;
  margin-bottom: 10vh;
}
.coffeeshop .imgcoffeeshop {
  height: 60%;
  width: 100%;
  background-image: url("../assets/images/cafeteria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.coffeeshop .textcoffeeshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2dbdff;
  height: 40%;
}
.coffeeshop .titlecoffeeshop {
  padding-bottom: 10px;
}
.coffeeshop .paragraphcoffeeshop {
  padding: 0 40px;
  line-height: 21px;
  text-align: center;
}

.skatepark {
  height: 100vh;
  width: 30vw;
}
.skatepark .imgskatepark {
  width: 100%;
  height: 70vh;
  background-image: url("../assets/images/slide3.jpg");
  background-size: auto 100%;
  background-position: center;
}
.skatepark .textstreet {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2dbdff;
}
.skatepark .titlestreet {
  padding-bottom: 10px;
}
.skatepark .paragraphstreet {
  padding: 0 40px;
  line-height: 21px;
  text-align: center;
}

.store-products {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #0059ff 90%, rgba(197, 197, 197, 0.1) 10%);
}

.productdescription {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.productdescription .divimgproduct {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.productdescription .divimgproduct .imgproduct {
  width: 100%;
  height: 80%;
}
.productdescription .containertextproduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 80%;
  padding-left: 20px;
}
.productdescription .containertextproduct .textproduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productdescription .containertextproduct .textproduct .titledescription,
.productdescription .containertextproduct .textproduct .paragraphdescription {
  padding-bottom: 20px;
}
.productdescription .containertextproduct .textproduct .productparagraph {
  padding: 0;
  width: 90%;
}
.productdescription .containertextproduct .btnproduct {
  width: 60%;
  height: 50px;
  background: #0de1ff;
  color: #000000;
  text-transform: uppercase;
  border: none;
  font-family: "Titles";
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2em;
}
.productdescription .containertextproduct .btnproduct:hover {
  background: #001740;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.slider {
  height: 50%;
  width: 40%;
}

.swiper-container-product {
  background: #ffffff;
  height: 100%;
}
.swiper-container-product .swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.swiper-container-product .swiper-slide .imgproduct {
  width: 50%;
  height: 90%;
}
.swiper-container-product .swiper-slide .divproduct {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 40px;
}
.swiper-container-product .swiper-slide .divproduct .product {
  font-family: "Titles";
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.swiper-container-product .swiper-slide .divproduct .paragraphpricelast {
  font-family: "Titles";
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  padding-top: 10px;
}
.swiper-container-product .swiper-slide .divproduct .paragraphprice {
  font-family: "Titles";
  font-size: 24px;
}
.swiper-container-product .swiper-slide .slide-product-1 {
  background-image: url("../assets/images/skatecompleto.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.swiper-container-product .swiper-slide .slide-product-2 {
  background-image: url("../assets/images/kitprotecao.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.swiper-container-product .swiper-slide .slide-product-3 {
  background-image: url("../assets/images/bone.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.swiper-container-product .swiper-slide .slide-product-4 {
  background-image: url("../assets/images/moletom.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.social-media {
  height: 100vh;
  width: 100vw;
  background: rgba(197, 197, 197, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}
.social-media .socialtitle {
  font-family: "Paragraphs";
  font-size: 46px;
  font-weight: 600;
  color: #0011ff;
  text-decoration: none;
  letter-spacing: 0px;
}
.social-media .socialtitle:hover {
  color: #0059ff;
}

.imgsocialmedia {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.imgsocialmedia .cards {
  height: 70%;
  width: 32%;
  position: relative;
}
.imgsocialmedia .cards1 {
  position: relative;
  background-image: url("../assets/images/social5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.imgsocialmedia .cards2 {
  position: relative;
  top: 15%;
  background-image: url("../assets/images/social4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.imgsocialmedia .cards3 {
  position: relative;
  background-image: url("../assets/images/social3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imgsocialmedia .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0059ff;
}
.imgsocialmedia .overlay .text {
  font-family: "Titles";
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.imgsocialmedia .cards:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.cardstext {
  position: relative;
  top: 15%;
}

.line {
  height: 4px;
  border: none;
  background: #000000;
}

.line::after {
  content: url("../assets/images/roda-skate-azul.png");
  background-size: 75px 75px;
  height: 75px;
  width: 75px;
}

.footer-store {
  height: 213px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(197, 197, 197, 0.1);
  padding-bottom: 5vh;
}
.footer-store .mainfooter {
  width: 90vw;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer-store .mainfooter .menufooter {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Titles";
}
.footer-store .mainfooter .menufooter .menufooterul li a {
  text-decoration: none;
  color: #000000;
}
.footer-store .mainfooter .menufooter .menufooterul li a:hover {
  color: #0059ff;
  font-weight: 900;
}
.footer-store .mainfooter .menufooter .menufooterul {
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}
.footer-store .mainfooter .menufooter .menuproductul {
  list-style: none;
  padding: 4px 0;
}
.footer-store .mainfooter .menufooter .menuproductul li {
  padding: 4px 0;
}
.footer-store .mainfooter .subscribefooter {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 30px;
}
.footer-store .mainfooter .subscribefooter .subscribeform {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-store .mainfooter .subscribefooter .subscribeform #email {
  width: 80%;
  height: 50%;
  color: #000000;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.45);
  background: rgba(197, 197, 197, 0.1);
  font-family: "Titles";
  font-size: 16px;
  padding-left: 20px;
  outline: 0;
}
.footer-store .mainfooter .subscribefooter .subscribeform #email::placeholder {
  color: #000000;
}
.footer-store .mainfooter .subscribefooter .subscribeform .submitemail {
  height: 50px;
  text-transform: uppercase;
  border: none;
  background: rgba(197, 197, 197, 0.1);
  cursor: pointer;
  font-family: "Titles";
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.45);
}
.footer-store .mainfooter .subscribefooter .subscribeform .submitemail:hover {
  color: #0059ff;
  font-weight: 900;
}
.footer-store .mainfooter .subscribefooter .subscribeform .erroremail {
  font-family: "Titles";
  font-weight: 600;
  flex-wrap: wrap;
  font-size: 16px;
  color: #ff0000;
  display: none;
  width: 86%;
}
.footer-store .mainfooter .subscribefooter .subscribeform .sucessemail {
  color: #00b11d;
}
.footer-store .mainfooter .subscribefooter .subscribetext {
  font-size: 16px;
  font-family: "Titles";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer-store .mainfooter .subscribefooter .vnda {
  font-family: "Titles";
  font-size: 12px;
  padding-bottom: 7px;
}
.footer-store .mainfooter .socialfooter {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-store .mainfooter .socialfooter .socialparagraph {
  font-family: "Titles";
  color: #000000;
  padding-top: 5px;
  padding-bottom: 15px;
}
.footer-store .mainfooter .socialfooter .socialmedia a {
  text-decoration: none;
  color: #000000;
  font-family: "Titles";
}
.footer-store .mainfooter .socialfooter .socialmedia a:hover {
  color: #0059ff;
  font-weight: 600;
}
.footer-store .mainfooter .socialfooter .icon-twitter-square, .footer-store .mainfooter .socialfooter .icon-instagram, .footer-store .mainfooter .socialfooter .icon-whatsapp {
  position: relative;
  top: 10px;
}

.hrmiddle img {
  height: auto;
  width: 6%;
  margin: 0 25px;
}

.hrmiddle {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.15);
  color: #0059ff;
  background: rgba(197, 197, 197, 0.1);
}

.hrmiddle::before,
.hrmiddle::after {
  content: "";
  flex-grow: 1;
  background: #0059ff;
  height: 2px;
  font-size: 0px;
  line-height: 0px;
}

@media only screen and (min-height: 1000px) {
  .footer-store .mainfooter .menufooter {
    position: relative;
    bottom: -6px;
  }

  .footer-store .mainfooter .subscribefooter {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .container-header {
    align-items: center;
    justify-content: flex-end;
  }

  .navbar {
    order: 3;
  }

  .navbar .menu {
    display: none;
  }

  .logotipo {
    width: 70px;
    order: 1;
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 4%;
  }

  .subnav {
    order: 2;
    margin-right: 3%;
  }

  .search {
    display: none;
  }

  .navbar .iconmenu {
    display: flex;
    padding: 10px;
    background: #0059ff;
    font-size: 32px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #000000;
  }

  .navbar .responsive {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .openmenucontainer {
    align-items: flex-start;
    width: 100%;
  }
  .openmenucontainer .navbar {
    position: relative;
    top: 20px;
  }
  .openmenucontainer .navbar .submenu {
    display: none;
  }
  .openmenucontainer .navbar .submenu a {
    background: #00ccff;
  }
  .openmenucontainer .submenu.activesubmenu {
    display: contents;
  }

  .openmenu {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    border: none;
  }
  .openmenu .menu .item a {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #0059ff;
    width: 100%;
  }

  .banner-slider .titleswiper {
    font-size: 27px;
    line-height: 34px;
    position: relative;
    top: 24vh;
    width: 100%;
  }

  .titleswiper1 {
    background: rgba(0, 0, 0, 0.384);
  }

  .titleswiper2 {
    font-size: 36px;
    line-height: 47px;
    background: rgba(0, 0, 0, 0.651);
  }

  .titleswiper3,
.titleswiper2 {
    background: rgba(0, 0, 0, 0.363);
    color: #ffffff;
  }

  .section-highlights {
    height: auto;
    padding: 5vh 0;
    flex-wrap: wrap;
  }
  .section-highlights .productimages {
    height: auto;
    padding: 15px;
  }

  .store-accommodations {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0059ff;
  }
  .store-accommodations .storedescription {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 5vh;
  }
  .store-accommodations .storedescription .arrowdown {
    display: none;
  }
  .store-accommodations .storedescription .paragraphdescription,
.store-accommodations .storedescription .titledescription,
.store-accommodations .storedescription .textdescription {
    padding-bottom: 20px;
    text-align: center;
  }
  .store-accommodations .skatestreet {
    height: 100vh;
    width: 90vw;
    position: relative;
    top: 10vh;
    right: 0px;
  }
  .store-accommodations .moredescriptions {
    height: auto;
    width: 90vw;
    height: 191vh;
    position: relative;
    top: 20vh;
  }
  .store-accommodations .skatepark {
    height: auto;
    width: 90vw;
  }

  .store-products {
    flex-direction: column;
    height: auto;
    justify-content: center;
    background-image: linear-gradient(to right, #0059ff 90%, #0059ff 10%);
  }
  .store-products .productdescription {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .store-products .productdescription .divimgproduct {
    width: 90%;
    height: auto;
  }
  .store-products .productdescription .divimgproduct .imgproduct {
    width: 100%;
    height: auto;
  }
  .store-products .productdescription .titledescription,
.store-products .productdescription .paragraphdescription {
    padding-bottom: 20px;
  }
  .store-products .productdescription .containertextproduct {
    width: 100%;
    text-align: center;
    top: 30px;
    align-items: center;
    padding-left: 0;
    padding-bottom: 10vh;
    padding-top: 10vh;
  }
  .store-products .productdescription .containertextproduct .textproduct {
    align-items: center;
    padding-bottom: 40px;
  }
  .store-products .slider {
    height: 100vh;
    width: 100%;
  }
  .store-products .slider .slide-product-1,
.store-products .slider .slide-product-4 {
    margin-left: 50px;
  }

  .social-media {
    justify-content: flex-start;
    height: 150vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .social-media .imgsocialmedia {
    height: 90%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
    top: 5vh;
  }
  .social-media .imgsocialmedia .cards {
    width: 90%;
    height: 90%;
    position: relative;
  }
  .social-media .imgsocialmedia .cards2 {
    top: 5vh;
  }
  .social-media .imgsocialmedia .cards3 {
    top: 10vh;
  }

  .hrmiddle {
    padding-top: 10vh;
  }
  .hrmiddle img {
    width: 70px;
  }

  .footer-store {
    height: 85vh;
    flex-direction: column;
  }
  .footer-store .mainfooter {
    flex-direction: column;
  }
  .footer-store .mainfooter .menufooter {
    width: 100%;
    order: 2;
    height: auto;
  }
  .footer-store .mainfooter .subscribefooter {
    order: 3;
    width: 100%;
    padding: 0;
    justify-content: center;
    height: auto;
    padding-top: 50px;
  }
  .footer-store .mainfooter .subscribefooter .subscribetext {
    font-weight: 600;
    padding-bottom: 20px;
  }
  .footer-store .mainfooter .subscribefooter .subscribeform {
    width: 100%;
  }
  .footer-store .mainfooter .subscribefooter .subscribeform .submitemail {
    right: 0;
    height: 50px;
    bottom: 0px;
  }
  .footer-store .mainfooter .subscribefooter .vnda {
    font-family: "Titles";
    font-size: 12px;
    padding-bottom: 7px;
    text-align: center;
    width: 100%;
  }
  .footer-store .mainfooter .socialfooter {
    width: 100%;
    order: 1;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-store .mainfooter .socialfooter .socialparagraph {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .section-highlights {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .section-highlights .productimages {
    height: auto;
    padding: 0px;
  }
}